{% extends "base.html.twig" %}

{% block title %}Siden blev ikke fundet{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>404 - Siden {{ page }} blev ikke fundet.</h1>
{% endblock %}
