<!DOCTYPE html>
<head>
    {% block head %}
        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
              crossorigin="anonymous">
        <!-- FontAwesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
        <link href="/TodoList/styles/app.css" rel="stylesheet">
        <title>{% block title %}{% endblock %} - TodoLister</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container">
        <span class="navbar-brand mb-0 h1">
            <i class="fa fa-check-square"></i>&nbsp;TodoLister
        </span>
        <span class="navbar-text">
            <a role="button" tabindex="0" id="user-menu"
                {% if user is null %}
                    style="color:#666;"
                {% else %}
               data-trigger="focus" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
               data-content="{{ include('user-menu.html.twig')|e }}">
                {% endif %}
                 <i class="fa fa-user"></i>
            </a>
        </span>
    </div>
</nav>
<div id="content" class="container h-100">
    <div class="row h-100 justify-content-center align-items-center text-center">
        {% block content %}{% endblock %}
    </div>
</div>
<div id="footer">
    <hr/>
    <p class="text-center">&copy; Copyright {{ currentyear }} <a href="https://jonasclement.dk" target="_blank">Jonas
            Clément</a></p>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(() => {
        // Enable popovers
        $('[data-toggle="popover"]').popover();
    });
</script>
{% block scripts %}{% endblock %}
