{% extends "base.html.twig" %}

{% block title %}Forside{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Lister</h1>
        </div>
        <div class="col-sm-12 mb-5">
            <button type="button" class="btn btn-primary" id="create-new-list">
                <i class="fa fa-plus"></i>&nbsp;Opret ny
            </button>
        </div>
        <div class="card mb-3 w-100 mx-auto">
            <div class="card-body todo-lists">
                {% if lists is not empty %}
                    {% for list in lists %}
                        <div class="mb-5 todo-list-container" data-todolistid="{{ list.id }}">
                            <h4 class="card-title todo-list-name" contenteditable="true"
                                data-todolistid="{{ list.id }}">{{ list.name|e }}</h4>
                            <button type="button" class="btn btn-danger delete-todo-list mb-2"
                                    data-todolistid="{{ list.id }}"
                            >
                                <i class="fa fa-trash"></i>&nbsp;Slet liste
                            </button>
                            <div class="d-flex">
                                <input type="text" class="form-control todo-list-item-input" placeholder="Tilføj..."
                                       data-todolistid="{{ list.id }}"/>
                                &nbsp;
                                <button type="button" class="btn btn-primary font-weight-bold todo-item-add-button"
                                        data-todolistid="{{ list.id }}">
                                    Tilføj
                                </button>
                            </div>
                            <div class="items-wrapper" data-todolistid="{{ list.id }}">
                                {% for item in list.items %}
                                    <div class="row justify-content-center mb-2 todo-list-item"
                                         data-todolistitemid="{{ item.id }}"
                                    >
                                        <div class="col-sm-1">
                                            <input type="checkbox" class="form-check-input todo-item-checkbox"
                                                   data-todolistitemid="{{ item.id }}"
                                                   id="todo-item-{{ item.id }}-checkbox"
                                                    {% if item.done %} checked="checked" {% endif %}/>
                                        </div>
                                        <div class="col-sm-10">
                                            <span contenteditable="true" id="todo-item-{{ item-id }}-text"
                                                  class="todo-item-text" data-todolistitemid="{{ item.id }}"
                                                   {% if item.done %} style="text-decoration: line-through;" {% endif %}
                                            >
                                                {{ item.text }}
                                            </span>
                                        </div>
                                        <div class="col-sm-1">
                                            <a role="button" class="delete-todo-item"
                                               data-todolistitemid="{{ item.id }}" style="color: red;"
                                            >
                                                <i class="fa fa-trash" data-todolistitemid="{{ item.id }}"></i>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const bindAllEvents = () => {
            const createNewListButton = $('#create-new-list')
            const todoListName = $('.todo-list-name');
            const deleteTodoListButton = $('.delete-todo-list');
            const todoListItemInput = $('.todo-list-item-input');
            const todoItemAddButton = $('.todo-item-add-button');
            const todoItemDeleteButton = $('.delete-todo-item');
            const todoItemText = $('.todo-item-text');
            const todoItemCheckbox = $('.todo-item-checkbox');

            createNewListButton.off('click');
            todoListName.off('keydown');
            deleteTodoListButton.off('click');
            todoListItemInput.off('keydown');
            todoItemAddButton.off('click');
            todoItemDeleteButton.off('click');
            todoItemText.off('keydown');
            todoItemCheckbox.off('change');

            // Create button
            createNewListButton.click(() => {
                $.post('helpers/todolists.create.helper.php')
                    .done((data) => {
                        // This could probably have been done better with the helper rendering a Twig template and returning that.
                        $('.todo-lists').append(`
<div class="mb-5 todo-list-container" data-todolistid="${data.id}">
    <h4 class="card-title todo-list-name" contenteditable="true"
        data-todolistid="${data.id}">${data.name}</h4>
    <button type="button" class="btn btn-danger delete-todo-list mb-2"
            data-todolistid="${data.id}"
    >
        <i class="fa fa-trash"></i>&nbsp;Slet liste
    </button>
    <div class="d-flex">
        <input type="text" class="form-control todo-list-item-input" placeholder="Tilføj..."
               data-todolistid="${data.id}"/>
        &nbsp;
        <button type="button" class="btn btn-primary font-weight-bold todo-item-add-button"
                data-todolistid="${data.id}">
            Tilføj
        </button>
    </div>
    <div class="items-wrapper" data-todolistid="${data.id}">
    </div>
</div>
                        `);
                        // Re-bind events
                        bindAllEvents();
                    })
                    .fail(() => console.log('failed to create list'));
            });

            // Editing titles
            todoListName.keydown((event) => {
                if (event.keyCode === 13) {
                    // Save
                    const target = $(event.target);
                    $.post('helpers/todolists.edit.helper.php', {
                        'id': target.data('todolistid'),
                        'name': target.text()
                    });
                    target.blur();
                }
            });

            // Deleting lists
            deleteTodoListButton.click((event) => {
                if (confirm('Er du sikker på du vil slette denne liste?')) {
                    const target = $(event.target);
                    $.post('helpers/todolists.delete.helper.php', {'id': target.data('todolistid')})
                        .done((data) => {
                            if (!data.error) {
                                $(`.todo-list-container[data-todolistid="${target.data('todolistid')}"]`).remove();
                            }
                        })
                }
            })

            // Adding items
            const addTodoListItem = (event) => {
                const target = $(event.target);
                const input = $(`.todo-list-item-input[data-todolistid="${target.data('todolistid')}"]`);
                if (input.val() !== "") {
                    $.post('helpers/todolistitems.create.helper.php', {
                        'todoListID': target.data('todolistid'),
                        'text': input.val()
                    })
                        .done((data) => {
                            // This could probably have been done better with the helper rendering a Twig template and returning that.
                            if (!data.error) {
                                $(`.items-wrapper[data-todolistid="${target.data('todolistid')}"]`).append(`
<div class="row justify-content-center mb-2 todo-list-item"
     data-todolistitemid="${data.id}"
>
    <div class="col-sm-1">
        <input type="checkbox" class="form-check-input todo-item-checkbox"
               data-todolistitemid="${data.id}"
               id="todo-item-${data.id}-checkbox"/>
    </div>
    <div class="col-sm-10">
        <span contenteditable="true" id="todo-item-${data.id}-text"
              class="todo-item-text" data-todolistitemid="${data.id}"
        >
            ${input.val()}
        </span>
    </div>
    <div class="col-sm-1">
        <a role="button" class="delete-todo-item"
           data-todolistitemid="${data.id}" style="color: red;"
        >
            <i class="fa fa-trash" data-todolistitemid="${data.id}"></i>
        </a>
    </div>
</div>
                                `);
                            }
                            input.val('');

                            // Re-bind events
                            bindAllEvents();
                        });
                }
            }
            todoListItemInput.keydown((event) => {
                if (event.keyCode === 13) {
                    addTodoListItem(event);
                }
            })
            todoItemAddButton.click(addTodoListItem);

            // Deleting items
            todoItemDeleteButton.click((event) => {
                const target = $(event.target);
                $.post('helpers/todolistitems.delete.helper.php', {'id': target.data('todolistitemid')})
                    .done((data) => {
                        if (!data.error) {
                            $(`.todo-list-item[data-todolistitemid="${target.data('todolistitemid')}"]`).remove();
                        }
                    })
            });

            // Editing items (changing text, checking)
            const updateTodoListItem = (event) => {
                // Save
                const target = $(event.target);
                const text = $(`.todo-item-text[data-todolistitemid="${target.data('todolistitemid')}"]`).text();
                const checkbox = $(`.todo-item-checkbox[data-todolistitemid="${target.data('todolistitemid')}"]`);
                $.post('helpers/todolistitems.edit.helper.php', {
                    'id': target.data('todolistitemid'),
                    'text': text,
                    'done': checkbox.is(':checked')
                });
            }
            todoItemText.keydown((event) => {
                if (event.keyCode === 13) {
                    updateTodoListItem(event);
                    $(event.target).blur();
                }
            });
            todoItemCheckbox.change(event => {
                updateTodoListItem(event);
                // Strikethrough text
                const target = $(event.target);
                if (target.is(':checked')) {
                    $(`.todo-item-text[data-todolistitemid="${target.data('todolistitemid')}"]`).css('text-decoration', 'line-through');
                } else {
                    $(`.todo-item-text[data-todolistitemid="${target.data('todolistitemid')}"]`).css('text-decoration', 'none');
                }
            });
        }

        $(document).ready(() => {
            bindAllEvents();
        });
    </script>
{% endblock %}
