{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="card w-50 mb-5 mt-3 mx-auto">
            <div class="card-body">
                <h3 class="card-title">Login</h3>
                <form id="credentials-form" class="needs-validation">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="username-icon"><i class="fa fa-user"></i></span>
                        </div>
                        <input name="username" id="username" type="text" class="form-control enter-submit"
                               placeholder="Brugernavn" required
                               autofocus autocomplete="off" aria-label="username-icon"/>
                        <div class="invalid-feedback">Indtast brugernavn</div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="password-icon"><i class="fa fa-lock"></i></span>
                        </div>
                        <input name="password" id="password" type="password" class="form-control enter-submit"
                               placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                               required autocomplete="off" aria-label="password-icon"/>
                        <div class="invalid-feedback">Indtast brugernavn</div>
                    </div>
                    <div class="mx-auto mb-2">
                        <button type="button" id="login-button" class="btn btn-primary">Log ind</button>
                    </div>
                    <div class="mx-auto">
                        <button type="button" id="signup-button" class="btn btn-primary">Opret konto</button>
                    </div>
                    <div class="mx-auto"><i id="status" class="fa" style="opacity:0"></i></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(() => {
            let isSubmitting = false;

            const submitForm = (event) => {
                if (isSubmitting) return;

                const form = $('#credentials-form');
                const loginButton = $('#login-button');
                const signupButton = $('#signup-button');
                const statusElement = $('#status');

                const statusRemove = 'fa-spinner fa-spin fa-check-circle fa-exclamation-circle text-success text-danger';

                if (!form[0].checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                    form.addClass('was-validated');
                } else {
                    statusElement.removeClass(statusRemove).addClass('fa-spinner fa-spin').fadeTo(200, 100);
                    isSubmitting = true;

                    // Disable buttons
                    loginButton.attr('disabled', true);
                    signupButton.attr('disabled', true);

                    // Check action
                    let action, url;
                    if ($(event.target).attr('id') === 'signup-button') {
                        action = 'signup';
                        url = 'helpers/user.signup.helper.php';
                    } else {
                        action = 'login';
                        url = 'helpers/user.login.helper.php';
                    }
                    $.post(url, form.serialize())
                        .done((data) => {
                            if (action === 'login' && data.allowLogin) {
                                statusElement.removeClass(statusRemove).addClass('fa-check-circle text-success');
                                window.location = 'index.php';
                            } else if (action === 'signup') {
                                if (!data.error) {
                                    statusElement.removeClass(statusRemove).addClass('fa-check-circle text-success');
                                    window.location = 'index.php';
                                } else {
                                    loginButton.attr('disabled', false);
                                    signupButton.attr('disabled', false);
                                    statusElement.removeClass(statusRemove).addClass('fa-exclamation-circle text-danger');
                                }
                            }
                        })
                        .fail((data) => {
                            loginButton.attr('disabled', false);
                            signupButton.attr('disabled', false);
                            statusElement.removeClass(statusRemove).addClass('fa-exclamation-circle text-danger');
                        })
                        .always(() => {
                            isSubmitting = false;
                            statusElement.fadeTo(5000, 0);
                        });
                }
            }

            $('#login-form').submit(submitForm);
            $('#login-button').click(submitForm);
            $('#signup-button').click(submitForm);
            // Submit when pressing 'enter' in username/password fields
            $('.enter-submit').keypress((event) => {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    submitForm(event);
                }
            })
        })
    </script>
{% endblock %}
