<div class="list-group">
    <a href="logout.php" class="list-group-item list-group-item-action c-pointer">Log ud</a>
    {% if user is not null and user.isAdmin %}
        <a href="user-management.php" class="list-group-item list-group-item-action c-pointer">Brugeradministration</a>
    {% endif %}
</div>
