{% extends "base.html.twig" %}

{% block title %}Brugeradministration{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Brugere</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <td class="font-weight-bold">ID</td>
            <td class="font-weight-bold">Brugernavn</td>
            <td class="font-weight-bold">Tillad login?</td>
            <td class="font-weight-bold">Admin?</td>
            <td class="font-weight-bold">Oprettet</td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="c-pointer" data-toggle="collapse" id="user-{{ user.id }}-row"
                data-target="#user-{{ user.id }}-detail">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.allowLogin ? 'Ja' : 'Nej' }}</td>
                <td>{{ user.isAdmin ? 'Ja' : 'Nej' }}</td>
                <td>{{ user.createTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr class="collapse" id="user-{{ user.id }}-detail">
                <td colspan="5">
                    <div class="row mb-3">
                        <div class="col-sm-3" id="label-username-{{ user.id }}">Brugernavn</div>
                        <div class="col-sm-9">
                            <input type="text" id="username-{{ user.id }}" class="form-control"
                                   value="{{ user.username }}" required
                                   autocomplete="off" aria-label="label-username-{{ user.id }}"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3" id="label-password-{{ user.id }}">Adgangskode</div>
                        <div class="col-sm-9">
                            <input type="password" id="password-{{ user.id }}" class="form-control"
                                   value="" autocomplete="off" aria-label="label-password-{{ user.id }}"/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3" id="label-allow-login-{{ user.id }}">Tillad login?</div>
                        <div class="col-sm-9">
                            <select class="form-control" id="allow-login-{{ user.id }}"
                                    aria-label="label-allow-login-{{ user.id }}">
                                <option value="1" {% if user.allowLogin %} selected {% endif %}>Ja</option>
                                <option value="0" {% if not user.allowLogin %} selected {% endif %}>Nej</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3" id="label-is-admin-{{ user.id }}">Admin?</div>
                        <div class="col-sm-9">
                            <select class="form-control" id="is-admin-{{ user.id }}"
                                    aria-label="label-is-admin-{{ user.id }}">
                                <option value="1" {% if user.isAdmin %} selected {% endif %}>Ja</option>
                                <option value="0" {% if not user.isAdmin %} selected {% endif %}>Nej</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-sm-12">
                            <button class="btn btn-primary user-save-button" data-userid="{{ user.id }}">Gem</button>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-sm-12">
                            <p id="error-message-{{ user.id }}"></p>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            $('.user-save-button').click((event) => {
                const userID = $(event.target).data('userid');
                const createTime = $(`#user-${userID}-row`).children(':last-child').text();
                const postData = {
                    'userID': userID,
                    'username': $(`#username-${userID}`).val(),
                    'password': $(`#password-${userID}`).val(),
                    'allowLogin': Boolean(Number(($(`#allow-login-${userID}`).find(':selected').val()))),
                    'isAdmin': Boolean(Number(($(`#is-admin-${userID}`).find(':selected').val())))
                }

                $.post('helpers/user.edit.helper.php', postData)
                    .done((data) => {
                        if (data.error) {
                            $(`#error-message-${userID}`).text(data.message);
                        } else {
                            // Hide detail
                            $(`#user-${userID}-detail`).collapse('hide');
                            // Update table
                            $(`#user-${userID}-row`).html(
                                `<td>${userID}</td>
                                <td>${postData.username}</td>
                                <td>${postData.allowLogin ? 'Ja' : 'Nej'}</td>
                                <td>${postData.isAdmin ? 'Ja' : 'Nej'}</td>
                                <td>${createTime}</td>
`
                            );
                        }
                    });
            })
        });
    </script>
{% endblock %}
